@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap");
@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-poppins: "Poppins", "sans-serif";
  --font-jakarta: "Plus Jakarta Sans", "sans-serif";

  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: "transparent";
  --color-purple-25: #f6f1fe;
  --color-purple-50: #ede3fc;
  --color-purple-100: #d0b9f8;
  --color-purple-200: #bb98f6;
  --color-purple-300: #a273f2;
  --color-purple-400: #8f56f0;
  --color-purple-500: #7c3aed;
  --color-purple-600: #7135d8;
  --color-purple-700: #5829a8;
  --color-purple-800: #442082;
  --color-purple-900: #341864;
  --color-orange-25: #fef5f1;
  --color-orange-50: #fdebe3;
  --color-orange-100: #f7c5ab;
  --color-orange-200: #f4ab85;
  --color-orange-300: #f0844d;
  --color-orange-400: #ed6d2c;
  --color-orange-500: #ea580c;
  --color-orange-600: #d5500b;
  --color-orange-700: #a63e09;
  --color-orange-800: #813007;
  --color-orange-900: #622505;
  --color-neutral-10: #fcfcfd;
  --color-neutral-25: #fafafa;
  --color-neutral-50: #f7f7f8;
  --color-neutral-100: #f2f2f3;
  --color-neutral-200: #e7e8e9;
  --color-neutral-300: #d4d5d8;
  --color-neutral-400: #a2a4a9;
  --color-neutral-500: #60636c;
  --color-neutral-600: #575a62;
  --color-neutral-700: #44464d;
  --color-neutral-800: #35363b;
  --color-neutral-900: #282a2d;
  --color-neutral-925: #1d1e20;
  --color-neutral-950: #161718;
  --color-neutral-1000: #111213;
  --color-success-25: #fcfcfc;
  --color-success-50: #e7f5ec;
  --color-success-100: #b5dfc3;
  --color-success-200: #91cfa6;
  --color-success-300: #5eb97d;
  --color-success-400: #3fac64;
  --color-success-500: #0f973d;
  --color-success-600: #0e8938;
  --color-success-700: #0b6b2b;
  --color-success-800: #085322;
  --color-success-900: #063f1a;
  --color-warning-25: #fdf9f1;
  --color-warning-50: #fcf4e7;
  --color-warning-100: #f4ddb4;
  --color-warning-200: #efcc90;
  --color-warning-300: #ebb55d;
  --color-warning-400: #e4a63d;
  --color-warning-500: #dd900d;
  --color-warning-600: #c9830c;
  --color-warning-700: #9d6609;
  --color-warning-800: #7a4f07;
  --color-warning-900: #5d3c05;
  --color-error-25: #fdf6f6;
  --color-error-50: #fbe9e9;
  --color-error-100: #f2bcba;
  --color-error-200: #eb9b98;
  --color-error-300: #e26e6a;
  --color-error-400: #dd514d;
  --color-error-500: #d42620;
  --color-error-600: #c1231d;
  --color-error-700: #971b17;
  --color-error-800: #751512;
  --color-error-900: #59100d;
}

@layer base {
  body {
    font-family: var(--font-jakarta);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
